{% extends 'base.html.twig' %}

{% block title %}Translator{% endblock %}

{% block body %}
    {{ form(form) }}

    {% if formattedText is defined %}
        <div id="formatted-text">
            {{ formattedText|raw }}
        </div>
    {% endif %}

{% endblock %}

{% block body_javascripts %}
    <script>
        $(() => {
            const translationPath = '{{ path('translate') }}';
            const formattedText = $('#formatted-text');

            if (!formattedText.length) {
                return;
            }

            formattedText.on('click', (e) => {
                if (e.target.tagName.toLowerCase() === 'span') {
                    const span = e.target;
                    const word = span.innerText;
                    const url = `${translationPath}?word=${word}`;

                    axios.get(url)
                        .then((response) => {
                            if (response.data.translation) {
                                const $span = $(span).popover({
                                    content: response.data.translation
                                });

                                $span.popover('show');

                                $('body').on('click', function hidePopover(e) {
                                    if (!$(e.target).parents('.popover').length) {
                                        $span.popover('hide');
                                        $('body').off('click', hidePopover);
                                    }
                                });
                            }
                        });
                }
            });
        });
    </script>
{% endblock %}
